html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    background-color: #e7edee;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* component box */
.box {
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 2px #c8d1d3;
    margin: 15px 0;
    overflow: hidden;
    position: relative;
}
.box--spaced {padding: 20px;}
.box__head {padding: 20px 10px;}
.box__deco {
    height: 100%;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(255,255,255, 0.3);
}


.fill-red {background: #fa2a02;}
.fill--green {background: #29c75f;}
.fill--blu {background: #39c3da;}
.fill-yellow {background: #FFBC11;}
.fill-dark {background: #202b33;}
.fill-light {background: #efefef;}
.fill-orange {background: #FF690D}


.avatar {
    border-radius: 100%;
    height: 60px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -30px;
}


/* Elements: heading */
.text {
    font-size: 15px;
    color: #666;
    font-weight: 400;

}
.text--head {
    font-weight: 100;
    font-size: 45px;
}
.text--evidence {
    font-weight: 400;
}

.text--title{
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.text-right {
    text-align: right;
}



textarea {
    background: white;
    width: 100%;
    height: 400px;
    padding: 20px;
    border: 0;
    resize: none;
    outline: 0;
    margin: 0;
    font-size: 15px;
    color: #999;
}


.graph {
    width: 100%;

}
.graph--big {
    height: 630px;
    overflow-x: auto;
    overflow-y: hidden;
}
.graph--small {
    height: auto;
}
.graph__inner {
    position: relative;
    max-width: 100%;
    height: inherit;
}
.graph--big .graph__elem {
    position: absolute;
    left: 0;
    top: 0;
}





.icon {
    display: inline-block;
    width: 70px;
    stroke-width: 0;
    stroke: currentColor;
    fill: white;
    height: inherit;
}
.icon-graph {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
}
.graph--big .icon-graph{
    width: 400px;
    height: 400px;
}
.graph--small .icon-graph{
    width: 150px;
    height: 150px;
}

.btn {
    display: block;
    border: 0;
    width: 100%;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    border-top: 1px solid #efefef;
    color: white;
    cursor: pointer
}
.btn:disabled {
    cursor: not-allowed;
    opacity: .5;
}